<div id="group-name"></div>
<h3 class="heading title"><%= event.escape("title") %></h3>
<%= event.escape("datetime") %>
<br>
<%= event.escape("location") %>
<br>
<span id="attending-button"></span>
<br>
<br>
<br>
