<div id="group-name"></div>
<h3 class="heading title"><%= event.escape("title") %></h3>
<%= moment(event.escape("datetime")).format("MMMM Do, h:mm A") %>
<br>
<%= event.escape("location") %>
<br>
<span id="attending-button"></span>
<br>
<br>
<br>
