<div class="group-name"></div>
<div class="title-and-button">
  <h3 class="heading title"><%= event.escape("title") %></h3>
  <span class="attending-button submit pull-right"></span>
</div>
<div class="when-and-where">
  <div class="when"><%= moment(event.escape("datetime")).format("MMMM Do, h:mm A") %></div>
  <div class="where"><%= event.escape("location") %></div>
</div>
