<div class="main-content">
  <h2 class="event-show-title"><%= ssevent.escape("title") %></h2>

  <div class="event-edit-button"></div>
  <div class="event-delete-button"></div>
  <div class="when"><%= moment(ssevent.escape("datetime")).format("MMMM Do, h:mm A") %></div>
  <div class="where"><%= ssevent.escape("location") %></div>
  <div class="event-description"><%= ssevent.escape("description") %></div>

  <div class="attending-button"></div>
</div>

<div class="attenders-container">
  <div class="header-bar">
    <div class="header-line-container pull-left"><div class="header-line"></div></div>
    <h3>Who's Going</h3>
    <div class="header-line-container pull-right"><div class="header-line"></div></div>
  </div>
  <div class="attenders">
  </div>
</div>
