<div id="content"></div>
<script type="text/javascript">
    // window.currentUserId = "<= current_user.id >"
    window.currentUserManagedGroupIds = "<%= current_user.managed_group_ids %>"
</script>
