<div class="m-backdrop"></div>

<div class="m-content group">

  <div><button type="button" class="close pull-right">&times;</button></div>
  <h3 class="heading"></h3>
  <br>

  <form>

    <button class="photo-upload">Upload Photo</button>
    <input class="save-photo" type="hidden" name="group[photo_url]" value="<%= group.escape("photo_url") %>">
    <br>
    <br>

    <label>Name</label>
    <input class="form-control" type="text" name="group[name]" value="<%= group.escape("name") %>">
    <br>

    <label>Description</label>
    <textarea name="group[description]" class="form-control"><%= group.escape("description") %></textarea>

    <br>
    <input type="submit" class="submit btn pull-right">
  </form>

  <div class="errors"></div>

</div>
