<div class="m-backdrop"></div>

<div class="m-content group">

  <div><button type="button" class="close pull-right">&times;</button></div>
  <h3></h3>
  <br>

  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

  <form>

    <input class="btn btn-primary form-control" type="filepicker" name="group[filepicker_url]" data-fp-button-text="Upload Photo" data-fp-apikey="Abm0dWPxnTQq5GImNFmOIz" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-maxsize="15M" data-fp-store-location="s3" data-fp-services="CLOUDDRIVE,COMPUTER,DROPBOX,FACEBOOK,GITHUB,GOOGLE_DRIVE,FLICKR,GMAIL,INSTAGRAM,SKYDRIVE,IMAGE_SEARCH,URL,WEBCAM">
    <br>
    <br>

    <label>Name</label>
    <input class="form-control" type="text" name="group[name]" value="<%= group.escape("name") %>">
    <br>

    <label>Description</label>
    <textarea name="group[description]" class="form-control"><%= group.escape("description") %></textarea>

    <br>
    <input type="submit" class="submit btn btn-primary pull-right">
  </form>

  <div class="errors"></div>

</div>
