<div class="img-container">
  <img src="<%= group.escape("photo_url") %>" class="hoverable"></img>
  <div class="hide-on-hover">
    <img src="<%= group.escape("photo_url") %>" class="not-hoverable"></img>
    <div class="heading">
      <div class="gii-name-screen">
        <div class="group-name"><%= group.escape("name") %></div>
      </div>
    </div>
  </div>
</div>
