<div class="img-container">
  <img class="main-img" src="<%= group.escape("photo_url") %>"></img>
</div>
<div class="screen">
  <div class="screen-elements-container">
    <div class="group-edit-button"></div>
    <h2 class="name"><%= group.escape("name") %></h2>
    <div class="subscription-button"></div>
  </div>
</div>
<div class="subscribers-container">
  <div class="header-bar">
    <h3>Members</h3>
  </div>
  <div class="subscribers">
  </div>
</div>
<div class="desc-and-events">
  <div class="group-description"><%= group.escape("description") %></div>
  <div class="group-events"></div>
</div>
