<h2><%= group.escape("name") %></h2><div class="edit-button"></div>
<br>
<img src="<%= group.escape("photo_url") %>">
<br>
<div id="subscription-button"></div>
<br>
<%= group.escape("description") %>
<br>
<div class="users"></div>
<div class="events"></div>
