<button class="edit"></button>
<br>
<h2 class="groupname"><%= group.escape("name") %></h2>
<br>
<img src="<%= group.escape("filepicker_url") %>">
<br>
<%= group.escape("description") %>
<br>
<div id="subscription-button"></div>
<br>
<div class="events"></div>
