@font-face {
  font-family: "sf-comic-script";
  src: url("sf-comic-script.ttf");
  src: url("sf-comic-script.ttf") format("truetype");
}

* {
  // font-family: 'Josefin Sans', sans-serif;
  // cursor:
}

button, .btn {
  width: 100px;
  height: 25px;
  font-family: "sf-comic-script" !important;
  font-size: 15px;
  border: none;
  border-radius: 2px;
  // cursor:
}

h1, h2, h3 {
  font-family: "sf-comic-script" !important;
}

button, .btn, input, .glyphicon-log-out, .logo.navbar-brand, .group .name,
.group-index-item .hoverable, .group-index-item .hide-on-hover {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.signin {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.signin #signin-background {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("http://res.cloudinary.com/dgzqgdlmj/image/upload/v1434499994/heimdall_ilnv5l.jpg");
  background-size: auto 100%;
}

.signin .backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}

.signin .signin-logo {
  z-index: 102;
  font-family: "sf-comic-script";
  font-size: 81px;
  transform: rotate(-4deg) translateX(-40px);
  margin-bottom: 5px;
  color: #FFCD00;
}

.signin .opener {
  font-family: "sf-comic-script";
  font-size: 20px;
  margin-bottom: 20px;
}

.signin .user-form {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 100px 50px rgba(0, 0, 0, 0.6);
  color: white;
  height: 400px;
  width: 400px;
  padding: 0px;
  z-index: 101;
  border-radius: 2px;
  margin: auto;
  top: calc(50% - 200px);
  left: 10%;
}

.signin input {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.signin input.btn {
  font-size: 20px;
  height: 35px;
  color: #FFD839;
  border: 2px solid #FFCD00;
  background: black;
  border-radius: 2px;
  padding-top: 2px;
  // margin-top: 10px;
}

.signin input.btn:hover {
  box-shadow: 0px 0px 1px 1px #FFD839;
}

.user-form #sign-up {
  width: calc(50% - 5px);
  margin-left: 5px;
}

.user-form #log-in {
  width: calc(50% - 5px);
  margin-right: 5px;
}

.signin .user-form input#guest {
  margin-top: 0px;
  background: radial-gradient(#FFE064, #FFCD00);
  color: black;
  border: none;
}

.signin .errors {
  font-size: 15px;
  color: white;
  position: absolute;
  top: calc(50% + 200px);
  left: 10%;
  z-index: 1000;
}

#background {
  position: fixed;
  background-image: url("http://res.cloudinary.com/dgzqgdlmj/image/upload/v1434649235/NY5-City_ihynpv.jpg");
  background-size: 100%;
  min-width: 700px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;

  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -ms-filter: blur(7px);
  -o-filter: blur(7px);
  filter: blur(7px);
}

#backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  text-align: center;
}

#content, #nav nav.navbar {
  margin: 0 auto;
  max-width: 1024px;
  min-width: 800px;
}

nav.navbar {
  padding: 5px;
  height: 60px;
  width: 100%;
  color: white;
  background-color: black;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}

nav a.logo.navbar-brand {
  background: rgba(0,0,0,0);
  border: none;
  font-family: "sf-comic-script";
  font-size: 40px;
  color: #FF0700;
  margin-right: 5px;
}

nav a.logo.navbar-brand:hover {
  color: #FF0700;
}

#nav button.navbar-btn {
  margin-top: 12px;
  margin-right: 5px;
  margin-left: 5px;
  height: 30px;
  color: #C6C6C6;
  border: 2px solid #C6C6C6;
  background: none;
  border-radius: 2px;
}

#nav button.navbar-btn:hover {
  box-shadow: 0px 0px 1px 1px #C6C6C6;
}

#nav-events-counter-container {
  width: 50px;
  height: 50px;
}

nav #nav-events-counter {
  border: none;
  padding: 2px;
  color: black;
  background-color: #FAFAFA;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  font-family: "sf-comic-script";
  text-align: center;
  right: 0;
  top: calc(50% - 13px);
}

#nav-events-counter:hover {
  background-color: white;
  box-shadow: 0px 0px 1px 1px #FAFAFA;
}

nav li.username {
  color: #FAFAFA;
  margin: 15px;
  margin-right: 20px;
}

nav img {
  margin-top: 3px;
  height: 43px;
  width: 43px;
  // border: 2px solid white;
  border-radius: 22px;
}

nav a.form-button.btn {
  width: auto;
}

nav .glyphicon.glyphicon-log-out {
  font-size: 20px;
  color: #9B9B9B;
  margin-top: 3px;
  margin-bottom: 10px;
  transform: translateY(-5px);
}

nav .glyphicon.glyphicon-log-out:hover {
  color: #C6C6C6;
  text-shadow: 0px 0px 1px #C6C6C6;
}

.home-header {
  position: relative;
  height: 125px;
}

.home-header::after {
  content: "";
}
.counter-buttons {
  position: relative;
  height: 100%;
}

.counter {
  color: #FAFAFA;
  font-family: "sf-comic-script";
  font-size: 20px;
  position: absolute;
  right: calc(0% + 40px);
}

.counter:hover .counter-title {
  color: white;
}

.counter:hover .counter-button {
  background-color: white;
  box-shadow: 0px 0px 1px 1px #FAFAFA;
}

.counter.groups {
  top: calc(50% - 20px);
}

.counter.events {
  top: calc(50% + 30px);
}

.counter-button {
  background-color: #FAFAFA;
  color: #000000;
  margin: 0px 10px;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  transform: translateY(-6px);
}

.counter-title {
  float: left;
}

#searchbar {
  padding-top: 30px;
}

#searchbar .container {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

input.search-query.form-control {
  height: 34.667px;
}

#searchbar #search-buttons .search-button.btn[data-id="event-search"] {
  float: left;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.search-button.btn {
  float: left;
  width: 125px;
  height: 34.667px;
  line-height: 0px;
  font-size: 20px;
  margin: 0px;
  background-color: black;
  color: #C6C6C6;
  border: 3px solid #C6C6C6;
  z-index: 5;
  border-radius: 0px;
}

.search-button.btn:hover, {
  color: #9B0400;
  border: 2px solid #9B0400;
  box-shadow: 0px 0px 1px 1px rgba(198,5,0,1);
}

.search-button.btn.active {
  color: #FF0700;
  border: 3px solid #FF0700;
}

.results {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 40px;
}

.group-index-item {
  // overflow: hidden;
  margin-bottom: 15px;
  border-radius: 2px;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;

  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.group-index-item .img-container {
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,.5);
  position: relative;
  height: 100px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.group-index-item img.not-hoverable {
  height: 100px;
}

.group-index-item .img-container {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  height: 100px;
  width: 300px;
  overflow: hidden;
  text-align: center;
  margin: auto;
}

.group-index-item img.not-hoverable {
  height: 100px;
}

.group-index-item .heading {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  text-align: left;
}

.group-index-item .gii-name-screen {
  position: absolute;
  bottom: 0;
  width: 300px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}

.group-index-item .group-name {
  font-family: "sf-comic-script";
  font-size: 20px;
  color: white;
  text-shadow: 5px 5px 20px black;
}

.group-index-item img.hoverable {
  height: 100px;
  z-index: 99;
  opacity: 0;
}

.group-index-item:hover .hoverable {
  opacity: 1;
}

.group-index-item .hide-on-hover {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  width: 300px;
}

.group-index-item:hover .hide-on-hover {
  opacity: 0;
}


.event-index-item {
  background: white;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 2px;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,.7);

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInRight {
  0% {
      opacity: 0;
      -webkit-transform: translateX(2000px);
  }
  60% {
      opacity: 1;
      -webkit-transform: translateX(-30px);
  }
  80% {
      -webkit-transform: translateX(10px);
  }
  100% {
      -webkit-transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
      opacity: 0;
      transform: translateX(2000px);
  }
  60% {
      opacity: 1;
      transform: translateX(-30px);
  }
  80% {
      transform: translateX(10px);
  }
  100% {
      transform: translateX(0);
  }
}

.event-index-item:last-child {
  margin-bottom: 0px;
}

.event-index-item h3.heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.event-index-item .attending-button {
  position: absolute;
  top: calc(50% - 28px);
  left: calc(100% - 123px);
}

.event-index-item .when-and-where {
  position: relative;
  margin: 0;
  height: 30px;
}

.event-index-item .when, .event-index-item .where, .event-index-item.search-view .group-name {
  display: inline-block;
  font-size: 14px;
  background-color: #9B9B9B;
  margin-right: 5px;
  padding: 5px;
  padding-right:10px;
  padding-left: 10px;
  border-radius: 2px;
}

.m-backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}

.m-content {
  position: absolute;
  background-color: white;
  height: 600px;
  width: 500px;
  padding: 50px;
  z-index: 101;
  border-radius: 2px;
  margin: 0 !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-content.group {
  height: 450px;
}

.m-content.group button.upload {
  margin: 0 auto;
}

form.user-form {
  margin: 0 auto;
  height: 450px;
  width: 500px;
  padding: 50px;
}

textarea {
  resize: none;
}

.float-left {
  float: left;
}

.glyphicon.glyphicon-search.form-control-feedback {
  top: 0;
}

h3.heading {
  font-size: 25px;
}

button.submit, input.submit.btn, .attending-button button {
  height: 30px;
  color: #FFCD00;
  border: 2px solid #FFCD00;
  background: none;
  border-radius: 2px;
  padding-top: 2px;
}

button.submit:hover, input.submit:hover, .attending-button button:hover, .submit-deletion:hover {
  box-shadow: 0px 0px 1px 1px rgba(255,205,0,1);
}

.attending-button button.joined, .photo-upload {
  color: #9B9B9B;
  border: 2px solid #9B9B9B;
  height: 30px;
  padding-top: 2px;
  background: none;
}

.photo-upload {
  width: 100%;
}

.attending-button button.joined:hover, .photo-upload:hover {
  box-shadow: 0px 0px 1px 1px rgba(198,198,198,1);
}

#datetimepicker1 {
  transform: translateX(-15px);
  width: 400px;
}

input#datetime.form-control {
  height: 34.667px;
}

.group .close, .event .close {
  font-size: 40px;
  width: auto;
  height: auto;
}

.group .pull-left {
  width: 200px;
  margin: 40px;
}

.group .creator-buttons-container {
  position: relative;
  text-align: center;
}

.group .creator-buttons {
  position: absolute;
  top: calc(50% - 12px);
}

.group .img-container {
  position: relative;
  display: block;
  height: 200px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.group img.main-img {
  height: 200px;
}

.group .title-container {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.group .name {
  display: inline-block;
  max-width: 400px;
  font-size: 40px;
  margin-top: 0px;
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;
  color: white;
  border: 2px solid white;
  border-radius: 2px;
  text-shadow: 5px 5px 20px rgba(0,0,0,1);
}

.group .name:hover {
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
}

.group-delete-button {
  float: left;
  margin-right: 10px;
}

.group-edit-button {
  float: left;
}

.event-delete-button {
  color: black;
  display: inline-block;
  margin-right: 5px;
}

.event-delete-button {
  color: black;
  display: inline-block;
  margin-right: 5px;
}

.deletion-confirmation-backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}

.deletion-confirmation {
  position: absolute;
  background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  z-index: 101;
  border-radius: 2px;
  top: calc(50% - 65px);
  left: calc(50% - 150px);
  transform: translate(-50%);
  text-align: center;
  // box-shadow: 3px 3px 20px 0px rgba(0,0,0,1);
}

.deletion-confirmation .submit-deletion {
  margin-top: 20px;
  color: black;
  background-color: #FF0700;
  border-radius: 2px;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

.group-edit-button button, .group-delete-button button {
  width: 95px;
}

.group-edit-button button, .group-delete-button button,
.event-edit-button button, .event-delete-button button {
  border: none;
  background: radial-gradient(#C6C6C6, #9B9B9B);
  color: white;
}

.group-delete-button button:hover, .group-edit-button button:hover,
.event-delete-button button:hover, .event-edit-button button:hover  {
  color: #363636;
}

.group .subscription-button {
  margin-right: 20px;
  height: 70px;
  width: 100px;
  position: relative;
}

.subscription-button button.subscribed {
  height: 30px;
  color: #C6C6C6;
  border: 2px solid #C6C6C6;
  background: none;
  border-radius: 2px;

  // border: none;
  // color: #363636;
  // background: radial-gradient(#C6C6C6, #9B9B9B);

  position: absolute;
  top: calc(50% - 12px);
  left: 0%;

  // -webkit-animation-duration: 1.5s;
  // animation-duration: 1.5s;
  // -webkit-animation-fill-mode: both;
  // animation-fill-mode: both;
  // -webkit-animation-timing-function: ease-in-out;
  // animation-timing-function: ease-in-out;
  // animation-iteration-count:infinite;
  // -webkit-animation-iteration-count:infinite;
}

.subscription-button button.not-subscribed {
  height: 30px;
  color: #FF0700;
  border: 2px solid #FF0700;
  background: none;
  border-radius: 2px;

  position: absolute;
  top: calc(50% - 12px);
  left: 0%;
}

.subscription-button button.not-subscribed:hover {
  box-shadow: 0px 0px 1px 1px rgba(255,7,0,1);
}

.subscription-button button.subscribed:hover {
  box-shadow: 0px 0px 1px 1px rgba(198,198,198,1);

  // border: 2px solid white;
  // background: none;

  // -webkit-animation-name: pulse;
  // animation-name: pulse;
}
//
// @-webkit-keyframes pulse {
//     0% { -webkit-transform: scale(1); }
//     50% { -webkit-transform: scale(1.1); }
//     100% { -webkit-transform: scale(1); }
// }
//
// @keyframes pulse {
//     0% { transform: scale(1); }
//     50% { transform: scale(1.1); }
//     100% { transform: scale(1); }
// }

.group .subscribers-container {
  // float: left;
  // width: 200px;
  // margin-left: 40px;
  // margin-top:40px;
  // margin-bottom: 40px;
}

.group .header-bar {
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 2px;
  height: 40px;
  width: 100%;
}

.group .header-bar.members h3 {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 20px;
  margin: 0;
  text-shadow: 5px 5px 20px black;
}

.group .subscribers {
  // justify-content: center;
  // do the smae bootstrap grid thing you did with giis!
  background: none;
  border-radius: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  // padding-top: 15px;
  padding: 20px;
  min-height: 88px;
  // need something here, but not scroll!
  // overflow-y: scroll;
}

.group .subscribers img, .event-show .attenders img {
  // min height wrap contents
  display: inline-block;
  height: 43px;
  border-radius: 22px;
  text-align: center;
  margin: 5px;
  box-shadow: 3px 3px 15px 3px rgba(0,0,0,.7);
}

// .group .subscribers img:nth-child(2) {
//   margin-right: 20px;
//   margin-left: 20px;
// }

.group .title-and-events {
  float: left;
  margin: 40px;
  margin-left: 0px;
  // margin-right: 40px;
  // margin-left: 40px;
  // margin-bottom: 40px;
}

.group .group-description {
  margin-bottom: 20px;
  text-wrap: normal;
  padding: 20px;
  background: white;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px
}

// .group .group-events {
//   overflow-y: scroll;
// }

.event-show .main-content {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
}

.event-show h2.event-show-title {
  margin-top: 0px;
  margin-bottom: 20px;
}

.event-edit-button, .event-delete-button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
}

.event-show .when {
  text-wrap: none;
  margin-bottom: 10px;
}

.event-show .where {
  margin-bottom: 10px;
  font-weight: bold;
}

.event-show .event-description {
  margin-bottom: 20px;
}

.event-show .attenders-container {
  width: 100%;
  margin-top: 20px;
}

.event-show .header-bar {
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 2px;
  height: 30px;
  width: 100%;
}

.event-show .header-bar h3 {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 2px;
  font-size: 15px;
  margin: 0;
  text-shadow: 5px 5px 20px black;
}

.event-show .attenders {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding-top: 20px;
}
