@font-face {
  font-family: "sf-comic-script";
  src: url("sf-comic-script.ttf");
  src: url("sf-comic-script.ttf") format("truetype");
}

nav.navbar {
  padding: 10px;
  height: 70px;
  color: white;
  background-color: black;
}

nav button.logo.navbar-brand {
  background: rgba(0,0,0,0);
  border: none;
  font-family: "sf-comic-script";
  font-size: 30px;
  color: white;
}

nav a.logo.navbar-brand:hover {
  font-family: "sf-comic-script";
  font-size: 30px;
  color: white;
}

nav li.username {
  font-family: "sf-comic-script";
  font-size: 20px;
  color: white;
  margin: 10px;
  margin-right: 20px;
}

nav img {
  height: 50px;
  width: 50px;
  border: 5px;
  border-color: white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

nav .glyphicon.glyphicon-log-out {
  font-size: 25px;
  color: grey;
  margin-bottom: 10px;
  transform: translateY(-5px);
}

nav .glyphicon.glyphicon-log-out:hover {
  color: white;
  text-shadow: 1px 0px 5px rgba(255, 255, 255, .75);
}

nav button.navbar-btn {
  margin-left: 5px;
  font-family: "sf-comic-script";
  background-color: red;
}

nav button.navbar:hover {}

#searchbar {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

#search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.m-backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}

.m-content {
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  width: 500px;
  padding: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 101;
}

.m-content.group {
  height: 450px;
}

.m-content.group button.upload {
  margin: 0 auto;
}

form.user-form {
  margin: 0 auto;
  height: 450px;
  width: 500px;
  padding: 50px;
}

textarea {
  resize: none;
}

.float-left {
  float: left;
}

.glyphicon.glyphicon-search.form-control-feedback {
  top: 0;
}

h3.heading {
  font-family: "sf-comic-script";
  font-size: 30px;
}

button.submit, input.submit {
  color: black;
  background-color: #FFFF00;
  font-family: "sf-comic-script";
  font-size: 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

button.submit:hover, input.submit:hover {
  color: black;
  -webkit-transform: translate(5px,5px);
  transform: translate(5px,5px);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255,255,153,1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(255,255,153,1);
  box-shadow: 0px 0px 5px 3px rgba(255,255,153,1);
}
