@font-face {
  font-family: "sf-comic-script";
  src: url("sf-comic-script.ttf");
  src: url("sf-comic-script.ttf") format("truetype");
}

nav.navbar {
  padding: 10px;
  height: 70px;
  color: white;
  background-color: black;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}

nav a.logo.navbar-brand {
  background: rgba(0,0,0,0);
  border: none;
  font-family: "sf-comic-script";
  font-size: 40px;
  color: red;
  margin-left: 10px;
}

nav a.logo.navbar-brand:hover {
  color: grey;
}

nav button.navbar-btn {
  width: 125px;
  margin-left: 5px;
  font-family: "sf-comic-script";
  background-color: grey;
  color: white;
  border: none;
  font-size: 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

nav button.navbar-btn:hover {
  font-size: 24px;
  transform: translateY(-2px);
}

nav li.username {
  font-family: "sf-comic-script";
  font-size: 20px;
  color: white;
  margin: 10px;
  margin-right: 20px;
}

nav img {
  height: 50px;
  width: 50px;
  // border: 4px solid white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

nav .glyphicon.glyphicon-log-out {
  font-size: 25px;
  color: grey;
  margin-bottom: 10px;
  transform: translateY(-5px);
}

nav .glyphicon.glyphicon-log-out:hover {
  color: white;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, .75);
}

.home-header {
  position: relative;
}

.home-header-background {
  position: absolute;
  // z-index: 10;
  background-color: #303030;
  left: 0;
  height: 200px;
  width: 100%;
  top: 0;
}

.counter-buttons {
  position: relative;
  top: 50px;
  display: table;
  margin: 0 auto;
  transform: translateX(-30px);
}

.counter {
  float: left;
  color: white;
  font-family: "sf-comic-script";
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.home-button {
  border: none;
  background-color: white;
  color: #303030;
  height: 50px;
  width: 50px;
  // border: 4px solid white;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin: 10px 10px;
}

#searchbar {
  padding-top: 85px;
}

#searchbar .container {
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

input.search-query.form-control {
  height: 34.667px;
}

.search-button.btn.btn-danger {
  width: 125px;
  height: 34.667px;
  line-height: 0px;
  font-family: "sf-comic-script";
  background-color: #FF0000;
  color: white;
  border: none;
  font-size: 20px;
}

.search-button.btn.btn-danger.active, .search-button.btn.btn-danger:hover {
  background-color: #CC0000;
}

.group-index-item {
  margin-bottom: 10px;
}

.group-index-item .img-container {
  position: relative;
  height: 100px;
  width: 300px;
  overflow: hidden;
  justify-content: center;
  text-align: center;
}

.group-index-item img {
  height: 100px;
}

.group-index-item .screen {
  position: relative;
  transform: translateY(-100px);
  height: 100px;
  width: 300px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9;
}

.group-index-item h3 {
  height: 100px;
  width: 300px;
  text-wrap: normal;
  // margin: 0 auto;
  // transform: translateY(-80px);
  position: relative;
  z-index: 10;
  color: white;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.event-index-item {

}

.m-backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
}

.m-content {
  position: absolute;
  background-color: white;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  height: 600px;
  width: 500px;
  padding: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 101;
  margin: 0 !important;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-content.group {
  height: 450px;
}

.m-content.group button.upload {
  margin: 0 auto;
}

form.user-form {
  margin: 0 auto;
  height: 450px;
  width: 500px;
  padding: 50px;
}

textarea {
  resize: none;
}

.float-left {
  float: left;
}

.glyphicon.glyphicon-search.form-control-feedback {
  top: 0;
}

h3.heading {
  font-family: "sf-comic-script";
  font-size: 30px;
}

button.submit, input.submit {
  color: black;
  background-color: #FFFF00;
  font-family: "sf-comic-script";
  font-size: 20px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,1);
}

button.submit:hover, input.submit:hover {
  color: black;
  -webkit-transform: translate(3px,3px);
  transform: translate(3px,3px);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(255,255,153,1);
  -moz-box-shadow: 0px 0px 5px 3px rgba(255,255,153,1);
  box-shadow: 0px 0px 5px 3px rgba(255,255,153,1);
}

#datetimepicker1 {
  transform: translateX(-15px);
  width: 400px;
}

input#datetime.form-control {
  height: 34.667px;
}
