<div class="heading">
  <div class="counter groups"><button class="home-button"><%= numGroups %></button> Subscribed Groups</div>
  <div class="counter events"><button class="home-button"><%= numEvents %></button> Upcoming Events</div>
</div>
<div id="searchbar"></div>
<div class="results"></div>
