<div class="heading">
  <div class="counter"><button class="home-button"><%= numGroups %></button> Subscribed Groups</div>
  <div class="counter"><button class="home-button"><%= numEvents %></button> Upcoming Events</div>
</div>
<div id="searchbar"></div>
<div class="results"></div>
