<div class="home-header">
  <div class="home-header-background"></div>

  <div class="counter-buttons">
    <div class="counter managed-groups">
      <button class="counter-button"><%= numManagedGroups %></button>
      <div class="counter-title">Managed Groups</div>
    </div>

    <div class="counter groups">
      <button class="counter-button"><%= numGroups %></button>
      <div class="counter-title">Groups</div>
    </div>

    <div class="counter events">
      <button class="counter-button"><%= numEvents %></button>
      <div class="counter-title">Upcoming Events</div>
    </div>
  </div>

</div>

<div id="searchbar"></div>
<br>
<div class="results"></div>
