<div class="home-header">
  <div class="home-header-background"></div>
  <div class="counter-buttons">
    <div class="counter groups">
      <button class="home-button"><%= numGroups %></button>
      <div>Subscribed Groups</div>
    </div>
    <div class="counter events">
      <button class="home-button"><%= numEvents %></button>
      <div>Upcoming Events</div>
    </div>
  </div>
</div>
<div id="searchbar"></div>
<div class="results"></div>
