<div class="container">
  <div class="row">
    <div id="search-input col-md-6" class="float-left form-group has-feedback input-group">
      <input type="text" class="search-query form-control" placeholder="Search"/></input>
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
    <span id="search-buttons" class="float-left input-group-btn">
      <button class="search-button btn btn-primary" type="button" data-id="group-search">Groups</button>
      <button class="search-button btn btn-primary" type="button" data-id="event-search">Events</button>
    </span>
	</div>
</div>
